<div class="container">
  <h1 class="text-center mt-4">Formulario MAERSK</h1>
  <form #activationForm="ngForm">
    <div class="form-group">
      <label for="textBox">Caja de Texto</label>
      <input
        type="text"
        class="form-control"
        id="textBox"
        placeholder="Obligatorio"
        name="textBox"
        [(ngModel)]="textBox"
        (ngModelChange)="validarForm()"
        required
      />
    </div>
    <div class="form-group">
      <label for="textNumber">Caja Numerica</label>
      <input
        type="number"
        class="form-control"
        id="textNumber"
        placeholder="Obligatorio"
        name="textNumber"
        [(ngModel)]="textNumber"
        (ngModelChange)="validarForm()"
        required
      />
    </div>
    <div class="form-group">
      <label for="controlSelector">Selector</label>
      <select
        class="form-control"
        id="controlSelector"
        name="controlSelector"
        [(ngModel)]="controlSelector"
        (ngModelChange)="validarForm()"
        required
      >
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>

    <div class="form-group">
      <label for="commentArea">Comentario</label>
      <textarea
        class="form-control"
        id="commentArea"
        rows="3"
        name="commentArea"
        [(ngModel)]="commentArea"
        placeholder="Opcional"
      ></textarea>
    </div>
    <br />
    <button
      class="btn btn-success"
      (click)="registerForm()"
      [disabled]="activationForm.form.invalid"
      translate="activation.form.invalid"
    >
      Ingresar datos
    </button>
  </form>
</div>
